o/go-bbox.osh                   BBOX    8.1777,49.7717,8.2056,49.7916
o/go.osh                        POLY    clipbounds/aaa_test/go.poly
o/go-and-gk.osh                 POLY    clipbounds/aaa_test/go-and-gk.poly
o/go-and-gk.osh                 POLY    clipbounds/aaa_test/go-and-gk.poly
o/go-and-gk-but-no-cemetry.osh  POLY    clipbounds/aaa_test/go-and-gk-but-no-cemetry.poly

